![](https://i.imgur.com/0AUxkXt.png)

# Assignment 3 - From data to insights

Before you explore the data, write down a short list of what you expect to see in the data: the distribution of key variables, the relationships between important pairs of them, and so on. Such a list is essentially a prediction based on your current understanding of the business.

Now analyze the data. Make plots, do summaries, whatever is needed to see if it matches your expectations.

Is there anything that doesn’t match? Anything that makes you go “That’s odd” or “That doesn’t make any sense.”?

Zoom in and try to understand what in your business is making that weird thing show up in the data like that. This is the critical step.

You may have just found an insight into the business and increased your understanding


## The data analysis checklist

This checklist can be used as a guide during the process of a data analysis, or as a way to evaluate the quality of a reported data analysis.

### Answering the first questions

1. Did you define the metric for success before beginning?
2. Did you understand the context for the question and business application?
3. Did you consider whether the question could be answered with the available data?

### Cleaning the data

1. Did you identify the missing data?
2. Is each variable one column?
3. Do different data types appear in each table?
4. Did you try to identify any errors or miscoding of variables?
5. Did you check for outliers?

### Exploratory analysis

1. Did you make univariate plots (histogram, distplot, boxplot)?
2. Did you consider correlations between variables (scatterplot, jointplot, kde plot, correlation matrix)?
3. Did you check the units of all data points to make sure they are in the right range?

### Presentations

1. Did you lead with a brief, understandable to everyone of your problem?
2. Did you explain the data, describe the question of interest?
3. Did you make sure all legends and axes were legible from the back of the room?

## Dataset - Online Retailes Purchase

Typically e-commerce datasets are proprietary and consequently hard to find among publicly available data. However, [The UCI Machine Learning Repository](http://archive.ics.uci.edu/ml/index.php) has made this dataset containing actual transactions from 2010 and 2011. The dataset is maintained on their site, where it can be found by the title "Online Retail".


### Step 1 - Checking the data

**Import tools set**

In [0]:
# Your code here
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

sns.set_style("whitegrid")

**Import data**

In [6]:
link = "https://ml101-khanhnguyen.s3-ap-southeast-1.amazonaws.com/devc/Online_Retail.csv"
# Note: set param encoding = 'latin1'
# Your code
trans=pd.read_csv(link, encoding='latin1')
trans

       InvoiceNo StockCode  ... CustomerID         Country
0         536365    85123A  ...    17850.0  United Kingdom
1         536365     71053  ...    17850.0  United Kingdom
2         536365    84406B  ...    17850.0  United Kingdom
3         536365    84029G  ...    17850.0  United Kingdom
4         536365    84029E  ...    17850.0  United Kingdom
5         536365     22752  ...    17850.0  United Kingdom
6         536365     21730  ...    17850.0  United Kingdom
7         536366     22633  ...    17850.0  United Kingdom
8         536366     22632  ...    17850.0  United Kingdom
9         536367     84879  ...    13047.0  United Kingdom
10        536367     22745  ...    13047.0  United Kingdom
11        536367     22748  ...    13047.0  United Kingdom
12        536367     22749  ...    13047.0  United Kingdom
13        536367     22310  ...    13047.0  United Kingdom
14        536367     84969  ...    13047.0  United Kingdom
15        536367     22623  ...    13047.0  United Kingdom
16        536367     22622  ...    13047.0  United Kingdom
17        536367     21754  ...    13047.0  United Kingdom
18        536367     21755  ...    13047.0  United Kingdom
19        536367     21777  ...    13047.0  United Kingdom
20        536367     48187  ...    13047.0  United Kingdom
21        536368     22960  ...    13047.0  United Kingdom
22        536368     22913  ...    13047.0  United Kingdom
23        536368     22912  ...    13047.0  United Kingdom
24        536368     22914  ...    13047.0  United Kingdom
25        536369     21756  ...    13047.0  United Kingdom
26        536370     22728  ...    12583.0          France
27        536370     22727  ...    12583.0          France
28        536370     22726  ...    12583.0          France
29        536370     21724  ...    12583.0          France
...          ...       ...  ...        ...             ...
541879    581585     22726  ...    15804.0  United Kingdom
541880    581585     22727  ...    15804.0  United Kingdom
541881    581585     16016  ...    15804.0  United Kingdom
541882    581585     21916  ...    15804.0  United Kingdom
541883    581585     84692  ...    15804.0  United Kingdom
541884    581585     84946  ...    15804.0  United Kingdom
541885    581585     21684  ...    15804.0  United Kingdom
541886    581585     22398  ...    15804.0  United Kingdom
541887    581585     23328  ...    15804.0  United Kingdom
541888    581585     23145  ...    15804.0  United Kingdom
541889    581585     22466  ...    15804.0  United Kingdom
541890    581586     22061  ...    13113.0  United Kingdom
541891    581586     23275  ...    13113.0  United Kingdom
541892    581586     21217  ...    13113.0  United Kingdom
541893    581586     20685  ...    13113.0  United Kingdom
541894    581587     22631  ...    12680.0          France
541895    581587     22556  ...    12680.0          France
541896    581587     22555  ...    12680.0          France
541897    581587     22728  ...    12680.0          France
541898    581587     22727  ...    12680.0          France
541899    581587     22726  ...    12680.0          France
541900    581587     22730  ...    12680.0          France
541901    581587     22367  ...    12680.0          France
541902    581587     22629  ...    12680.0          France
541903    581587     23256  ...    12680.0          France
541904    581587     22613  ...    12680.0          France
541905    581587     22899  ...    12680.0          France
541906    581587     23254  ...    12680.0          France
541907    581587     23255  ...    12680.0          France
541908    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

In [7]:
# Print out First 5 rows from dataframe
# Your code here
trans.head(5)

  InvoiceNo StockCode  ... CustomerID         Country
0    536365    85123A  ...    17850.0  United Kingdom
1    536365     71053  ...    17850.0  United Kingdom
2    536365    84406B  ...    17850.0  United Kingdom
3    536365    84029G  ...    17850.0  United Kingdom
4    536365    84029E  ...    17850.0  United Kingdom

[5 rows x 8 columns]

In [8]:
# Print out brief info
trans.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
InvoiceNo      541909 non-null object
StockCode      541909 non-null object
Description    540455 non-null object
Quantity       541909 non-null int64
InvoiceDate    541909 non-null object
UnitPrice      541909 non-null float64
CustomerID     406829 non-null float64
Country        541909 non-null object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

### Step 2 - Cleaning the data

Few of useful data cleaning functions:

* `s.astype('category')` # This will convert the datatype of the series to float *Please note that "s" here is a Pandas Series

* `s.replace(1,'one')` # This will replace all values equal to 1 with 'one'

* `s.replace([1,3],['one','three'])` # This will replace all 1 with 'one' and 3 with 'three'

* `data.rename(columns=lambda x: x + 1)` # Mass renaming of columns

* `data.rename(columns={'oldname': 'new name'})` # Selective renaming

* `data.set_index('column_one')` #  This will change the index

* `data.rename(index=lambda x: x + 1)` # Mass renaming of index

* `data.dropna()` # Remove missing values

* `data.fillna(x)` #  This will replaces all null values with x

* `s.fillna(s.mean())` # This will replace all null values with the mean (mean can be replaced with almost any function from the below section) :

* `data.corr()` # This will return the correlation between columns in a DataFrame

* `data.count()` # This will return the number of non-null values in each DataFrame column

* `data.max()` # This will return the highest value in each column

* `data.min()` # This will return the lowest value in each column

* `data.median()` # This will return the median of each column

* `data.std()` # This will returns the standard deviation of each column

**Check for NaN values**

In [10]:
# Your code here
trans.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

**Examine few examples of NaN values**

In [11]:
# List all NaN values
trans.isnull()

        InvoiceNo  StockCode  Description  ...  UnitPrice  CustomerID  Country
0           False      False        False  ...      False       False    False
1           False      False        False  ...      False       False    False
2           False      False        False  ...      False       False    False
3           False      False        False  ...      False       False    False
4           False      False        False  ...      False       False    False
5           False      False        False  ...      False       False    False
6           False      False        False  ...      False       False    False
7           False      False        False  ...      False       False    False
8           False      False        False  ...      False       False    False
9           False      False        False  ...      False       False    False
10          False      False        False  ...      False       False    False
11          False      False        False  ...      False       False    False
12          False      False        False  ...      False       False    False
13          False      False        False  ...      False       False    False
14          False      False        False  ...      False       False    False
15          False      False        False  ...      False       False    False
16          False      False        False  ...      False       False    False
17          False      False        False  ...      False       False    False
18          False      False        False  ...      False       False    False
19          False      False        False  ...      False       False    False
20          False      False        False  ...      False       False    False
21          False      False        False  ...      False       False    False
22          False      False        False  ...      False       False    False
23          False      False        False  ...      False       False    False
24          False      False        False  ...      False       False    False
25          False      False        False  ...      False       False    False
26          False      False        False  ...      False       False    False
27          False      False        False  ...      False       False    False
28          False      False        False  ...      False       False    False
29          False      False        False  ...      False       False    False
...           ...        ...          ...  ...        ...         ...      ...
541879      False      False        False  ...      False       False    False
541880      False      False        False  ...      False       False    False
541881      False      False        False  ...      False       False    False
541882      False      False        False  ...      False       False    False
541883      False      False        False  ...      False       False    False
541884      False      False        False  ...      False       False    False
541885      False      False        False  ...      False       False    False
541886      False      False        False  ...      False       False    False
541887      False      False        False  ...      False       False    False
541888      False      False        False  ...      False       False    False
541889      False      False        False  ...      False       False    False
541890      False      False        False  ...      False       False    False
541891      False      False        False  ...      False       False    False
541892      False      False        False  ...      False       False    False
541893      False      False        False  ...      False       False    False
541894      False      False        False  ...      False       False    False
541895      False      False        False  ...      False       False    False
541896      False      False        False  ...      False       False    False
541897      False      False        False  ...      False       False    False
541898      False      False        False  ...      False       False    False
541899      False      False        False  ...      False       False    False
541900      False      False        False  ...      False       False    False
541901      False      False        False  ...      False       False    False
541902      False      False        False  ...      False       False    False
541903      False      False        False  ...      False       False    False
541904      False      False        False  ...      False       False    False
541905      False      False        False  ...      False       False    False
541906      False      False        False  ...      False       False    False
541907      False      False        False  ...      False       False    False
541908      False      False        False  ...      False       False    False

[541909 rows x 8 columns]

**Exclude negative Quatity entries**

In [0]:
trans = trans [ ~(trans['Quantity'] <0)] #Quantity, not Quatity :v

**Exclude negative Price entries**

In [0]:
trans = trans [ ~(trans['UnitPrice'] <0)]

### Step 3 - EDA

**The customer with the highest number of orders comes from the United Kingdom (UK)**

In [0]:
# Your code here

**The customer with the highest money spent on purchases comes from Netherlands**

In [0]:
# Your code here

**On which year had the highest sales?**

In [0]:
# Your code here

**How many orders (per hour)?**

**Make a plot about number of orders per hour**

**How many orders (per month)?**

**Make a plot about number of orders per month**

**Top 10 items most sales**

**Create a histogram with the 10 countries that have the most 'Quantity' ordered except UK**

In [0]:
# Your code here

# What can you tell about this?

### You are awesome!!